*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

.pie { 
    text-align: center; 
    border: 2px #760507; 
    background-color: #760507;
    color: white;
} 

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

ul li{
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
header{
    background-color:#760507;
}

header img{
    width: 125px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px;
}

th{
    font-size: 30px;
}
th, td {
    width: 25%;
    text-align: center;
    border: 2px solid black;
    
 }
.btn {
    color: #D6CFC4;
    border: none;
    background-color: #3B0B0B;
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}